<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
</head>
<body>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card mt-3">

                    <!--message-->
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                        <p th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>

                    <div class="container text-center">
                        <img style="width: 80px" th:src="@{/img/enrollment.png}">
                    </div>
                    <h1 class="text-center">Register here!!</h1>

                    <form novalidate th:action="@{/do_register}" method="post" th:object="${user}">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input
                                    type="text"
                                    th:value="${user.name}"
                                    name="name"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors()?'is-invalid':''}"
                                    id="name"
                                    placeholder="Name"
                                    />
                            <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input
                                    type="email"
                                    th:value="${user.email}"
                                    name="email"
                                    class="form-control"
                                    id="email"
                                    placeholder="email@email.com"
                                    >
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input
                                    type="password"
                                    name="password"
                                    class="form-control"
                                    id="password"
                                    placeholder="password"
                                    >

                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">About</label>
                            <textarea
                                    class="form-control"
                                    id="exampleFormControlTextarea1"
                                    rows="3"
                                    th:text="${user.about}"
                                    name="about"
                                    placeholder="Write something about you..."></textarea>
                        </div>

                        <div class="form-group form-check">
                            <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="checkbox"
                                    name="checkbox">
                            <label for="checkbox">Accept terms and conditions.</label>
                        </div>

                        <div class="container text-center">
                            <button class="btn btn-success" type="submit">Submit</button>
                            <button class="btn btn-warning" type="reset">Resets</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>